In [1]:
import pandas as pd 
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
df.drop("RID",axis=1, inplace = True) #RID는 그냥 Index라서 삭제

In [2]:
df

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

In [12]:
def getEntropy(df, feature):
    all_cnt = len(df) # 전체 데이터의 개수를 구합니다.
    entropy = 0
    for cnt in df[feature].value_counts(): # value_counts()는 각 값의 개수를 반환한다. 이를 all_cnt 로 나누면 확률을 구할 수 있다.
        entropy -= ((cnt / all_cnt) * np.log2(cnt / all_cnt)) # 엔트로피 공식

    return(entropy)

In [13]:
getEntropy(df, "class_buys_computer")

0.9402859586706311

In [44]:
getEntropy(df[df['age'] == 'senior'], "class_buys_computer")

0.9709505944546686

In [50]:
def getGainA(df, feature) :
    info_D = getEntropy(df, feature) # 목표변수에 대한 Entropy 를 구하기
    columns = list(df.loc[:, df.columns != feature]) # 목표변수(feature)를 제외한 나머지 변수들의 변수명을 리스트 형태로 저장
    
    result = {} # 결과 변수를 담기 위한 딕셔너리 생성
    all_cnt = len(df) # 가중평균 계산을 위한 전체 크기 생성
    
    for col in columns:
        info_A = 0 # 피처별 엔트로피를 담는 변수 생성
        
        for index, val_cnt in df[col].value_counts().iteritems(): # 각 값들의 이름을 index로, 크기를 val_cnt 로 가져온다.
            entro = getEntropy(df[df[col] == index], feature) # index를 통해 엔트로피를 구함.
            info_A += (val_cnt / all_cnt) * entro # 구한 엔트로피에 가중치를 곱해 info_A에 더한다 (가중평균)
            
        result[col] = info_D - info_A # 각 변수 별 게인 값 저장
    return(result)

In [51]:
getGainA(df, "class_buys_computer")

{'age': 0.24674981977443933,
 'income': 0.02922256565895487,
 'student': 0.15183550136234159,
 'credit_rating': 0.04812703040826949}