# DT Assignment1

# Data Loading

In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop("RID",axis=1, inplace = True) #RID는 그냥 순서라서 삭제
pd_data

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

# 1. Gini 계수를 구하는 함수 만들기

- Input: df(데이터), label(타겟변수명)
- 해당 결과는 아래와 같이 나와야 합니다.

In [194]:
def get_gini(df, label):
    prob_cnt = len(df[df[label] == 'yes']) # 데이터가 yes 인 경우를 센다.
    all_cnt = len(df) # 데이터의 전체 수를 센다.
    gini = 1 - ((prob_cnt / all_cnt)**2) - ((1 - (prob_cnt / all_cnt))**2) # 1에서 yes 인 경우 확률과 no인 경우 확률을 빼 준다.
    
    return gini

In [16]:
get_gini(pd_data,'class_buys_computer')

0.4591836734693877

# 2. Feature의 Class를 이진 분류로 만들기
 ## ex) {A,B,C} -> ({A}, {B,C}), ({B}, {A,C}), ({C}, {A,B})

- Input: df(데이터), attribute(Gini index를 구하고자 하는 변수명)
- 해당 결과는 아래와 같이 나와야 합니다.

In [195]:
def get_binary_split(df, attribute):
    result = []
    all_data =  list(df[attribute].unique())
    for i in all_data:
        tmp = all_data.copy() # remove 를 위한 데이터 복사
        result.append([i]) # 이진 분류를 위한 특정 값 append
        tmp.remove(i) # 복사된 배열에서 append된 값 제거
        result.append(tmp) # 나머지 값을 배열 채로 append
    
    return result

In [51]:
get_binary_split(pd_data,"age")

[['youth'],
 ['middle_aged', 'senior'],
 ['middle_aged'],
 ['youth', 'senior'],
 ['senior'],
 ['youth', 'middle_aged']]

# 3. 다음은 모든 이진분류의 경우의 Gini index를 구하는 함수 만들기
- 위에서 완성한 두 함수를 사용하여 만들어주세요!
- 해당 결과는 아래와 같이 나와야 합니다.

In [190]:
def get_attribute_gini_index(df, attribute, label):
    features = get_binary_split(df, attribute) # 주어진 피처로 이진 분류 진행
    all_cnt = len(df) # 전체 데이터 개수 셈
    result = {}
    for f in features: # 이진분류 된 데이터로 지니계수 구함
        tmp_df = pd.DataFrame() # concat 을 위한 임시 데이터프레임 생성
        gini = 0 # 지니계수의 가중평균을 구하기 위한 변수 생성
        
        for item in f: # 들어온 피처 별로 반복문 생성 (['middle_aged', 'senior'] 와 같이 두 개 이상이 들어온 경우를 처리하기 위해서.)
            tmp_df = pd.concat([tmp_df, df[df[attribute] == item]]) # list로 들어온 값들만 해당하는 데이터프레임 생성
            
        prob_cnt = len(tmp_df) # 생성된 데이터프레임의 길이를 측정해서 가중치 계산에 사용한다.
        
        # 가중치와 만든 테이블을 이용해 지니계수를 구한다.
        gini += (prob_cnt / all_cnt) * get_gini(tmp_df, label) + (1 - (prob_cnt / all_cnt)) * get_gini(df.drop(tmp_df.index, axis=0), label)
        
        result['_'.join(f)] = gini # 딕서너리에 계산한 gini값을 추가한다.
    return result

In [164]:
get_attribute_gini_index(pd_data, "age", "class_buys_computer")

{'youth': 0.3936507936507936,
 'middle_aged_senior': 0.39365079365079364,
 'middle_aged': 0.35714285714285715,
 'youth_senior': 0.35714285714285715,
 'senior': 0.4571428571428571,
 'youth_middle_aged': 0.4571428571428571}

여기서 가장 작은 Gini index값을 가지는 class를 기준으로 split해야겠죠?

In [165]:
min(get_attribute_gini_index(pd_data, "age", "class_buys_computer").items())

('middle_aged', 0.35714285714285715)

# 다음의 문제를 위에서 작성한 함수를 통해 구한 값으로 보여주세요!
## 문제1) 변수 ‘income’의 이진분류 결과를 보여주세요.

## 문제2) 분류를 하는 데 가장 중요한 변수를 선정하고, 해당 변수의 Gini index를 제시해주세요.

## 문제3) 문제 2에서 제시한 feature로 DataFrame을 split한 후 나눠진 2개의 DataFrame에서 각각   다음으로 중요한 변수를 선정하고 해당 변수의 Gini index를 제시해주세요.

In [166]:
##문제1 답안
get_binary_split(pd_data,"income") # 만들어진 함수를 사용해 이진분류 시행

[['high'],
 ['medium', 'low'],
 ['medium'],
 ['high', 'low'],
 ['low'],
 ['high', 'medium']]

In [196]:
##문제2 답안
# 분류를 하는 데 가장 중요한 변수는 Gini index 가 가장 작은 변수이다.
# 따라서 변수별로 Gini index를 구해서 가장 작은 변수를 가지는 값을 구한다.

min_ginis = {}
for col in pd_data.columns[:-1]:
    min_ginis[col] = min(get_attribute_gini_index(pd_data, col, "class_buys_computer").items())
    # 각 columns 별로 Gini index를 구해 가장 작은 변수의 이름과 값을 저장한다.

min_ginis

{'age': ('middle_aged', 0.35714285714285715),
 'income': ('high', 0.44285714285714284),
 'student': ('no', 0.3673469387755103),
 'credit_rating': ('excellent', 0.42857142857142855)}

주어진 함수로 Gini index 값을 평가해 본 결과 `age` 의 Gini index 값이 가장 높게 나왔으므로, `age`로 Split한다.

`age` 의 `middle_aged` 의 Gini index가 가장 낮게 나왔으므로, 이를 기준으로 데이터프레임을 조정할 것이다.

In [197]:
# 3번 답안에 앞서 모든 column의 Gini index를 내는 함수를 따로 정의하겠다.
# 기능과 코드는 2번 답과 완전히 동일하다.

def get_min_gini(table, label):
    min_ginis = {}
    for col in table.columns[:-1]:
        min_ginis[col] = min(get_attribute_gini_index(table, col, label).items())

    return min_ginis

In [198]:
##문제3 답안
left_table = pd_data[pd_data['age'] == 'middle_aged'].drop('age', axis=1) # 왼쪽 테이블 (age == middle_aged)
right_table = pd_data[pd_data['age'] != 'middle_aged'].drop('age', axis=1) # 오른쪽 테이블 (그 밖에)

print("Left Table 의 Gini index")
print(get_min_gini(left_table,  "class_buys_computer"))
print("Right Table 의 Gini index")
print(get_min_gini(right_table,  "class_buys_computer"))

Left Table 의 Gini index
{'income': ('high', 0.0), 'student': ('no', 0.0), 'credit_rating': ('excellent', 0.0)}
Right Table 의 Gini index
{'income': ('high', 0.375), 'student': ('no', 0.31999999999999984), 'credit_rating': ('excellent', 0.4166666666666667)}

- `left_table`의 경우, 모든 값이 `yes` 이므로 분산도를 나타내는 Gini index가 0이 된다. 왼쪽은 따라서 어떤 변수로 나누어도 상관없다.
- `right_table`의 경우, `student` 가 `no` 일때 Gini index가 0.32로 가장 낮게 나타났다. 따라서 오른쪽은 `student` 가 `no`인 가지로 나누어야 할 것이다.

In [200]:
left_table # class_buys_computer 가 모두 yes로 나누어져 있는 것을 확인할 수 있다.

    income student credit_rating class_buys_computer
2     high      no          fair                 yes
6      low     yes     excellent                 yes
11  medium      no     excellent                 yes
12    high     yes          fair                 yes

In [203]:
right_table[right_table['student'] == 'no'] # 분할된 테이블(왼쪽)

    income student credit_rating class_buys_computer
0     high      no          fair                  no
1     high      no     excellent                  no
3   medium      no          fair                 yes
7   medium      no          fair                  no
13  medium      no     excellent                  no

In [204]:
right_table[right_table['student'] != 'no'] # 분할된 테이블(오른쪽)

    income student credit_rating class_buys_computer
4      low     yes          fair                 yes
5      low     yes     excellent                  no
8      low     yes          fair                 yes
9   medium     yes          fair                 yes
10  medium     yes     excellent                 yes